*{
    margin: 0;
    padding: 0;
}

.nav1{
    background-color: #131921;
    color: white;
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 60;
    position: fixed;
}



.add{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #7E7F84;
    margin-left: 15px;
    font-size: 13;
    margin-bottom: -10;
    
}


.bx-location-plus > b{
    font-size: 13;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.link-item > select{
    margin-left: 110px;
    width: 55;
    height: 41;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 5;
    border: none;
    background-color: #D4D4D4;
}


.link-item > input{
    border: none;
    height: 41;
    width: 600;
    padding-left: 5;
    margin-bottom: 30;
    margin-left: -4;
    padding-top: 2;
    padding-bottom: 1;
}
.Search > i{
    background-color: #F3A847;
    color: black;
    border: none;
    padding-top: 10;
    padding-bottom: 10;
    padding-left: 10;
    margin-top: 8;
    font-size: 21;
    width: 40;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.link > img{
    margin-top: 25;
    margin-left: 2;
}

.link > select{
    border: none;
    background-color: #131921;
    color: white;
    font-size: 15;
    width: 50;
}
.link1{
    margin-top: 10px;
    margin-left: 15;
}
.link1 > select{
    border: none;
    background-color: #131921;
    color: white;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.link1 > label{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.order{
    margin-left: 10px;
    margin-top: 9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cart{
    margin-left: 40PX;
}


.nav2{
    width: 100%;
    align-content: center;
    background-color: #232F3E;
    color: white;
    word-spacing: 6;
    height: 38;
    padding-left: 1.5;
    padding-top: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav2 > i{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.prime select{
    background-color: #232F3E;
    border: none;
    color: white;
}


span:hover{
    border: 1px solid white;
    border-radius: 2px;
}
.nav2 >i:hover{
    outline: solid 1px white;
    border-radius: 2px;
}
.bx-slider-alt{
    padding-left: 5;
    
}
.img1{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img19/SiddMiniTV/3000x1200_V112._CB567144091_.jpg");
    background-size: cover;
    height: 700;
}


.heading h3{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 15px;
}
.info pre{
    font-size: 12;
    font-family: Arial, Helvetica, sans-serif;
    color: #717172;
}
.info{
    display: flex;
}
.box{
    background-color: white;
    width: 335;
    height: 462;
    padding-left: 20;
    margin-top: -330;
    margin-left: 17px;
    margin-bottom: 23;
}

.links a{
    text-decoration: none;
    margin-left: -2;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(98, 98, 206);
}

.links{
    margin-top: 40px;
}
.all{
    display: flex;
}
.bikes{
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid rgb(137, 135, 135);
}
.bikes h2{
    padding-left: 10px;
    padding-bottom: 20px;

}
.bg1{
    background-color: whitesmoke;
    padding-top: 500px;
    margin-top: -500px;
}
.new{
    background-color: white;
    text-align: center;
    padding-top: 30;
    margin-top: 10;
    padding-bottom: 25;
    line-height: 2;
    border: 1px solid rgb(137, 135, 135);
}
.new pre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.new button{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 102;
    padding-right: 102;
    padding-top: 5;
    padding-bottom: 5;
    border-radius: 3px;
    border: none;
    background-color: #fec32e;
}
.new p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
}
.new a{
    text-decoration: none;
    font-size: 10;
}
.new1{
    text-align: center;
    background-color: #2c3d53;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15;
}

.last{
    background-color: #202f40;
    color: rgb(205, 204, 204);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding-top: 40;
    padding-left: 300;
    padding-bottom: 20px;
    padding-right: 300;
    line-height: 2;
    font-size: 15;
    border-bottom: 1px solid rgb(117, 117, 117);
}

.last b{
    color: white;
    
}

.last span:hover{
    border: none;
}

.last1{
    background-color: #131921;
    display: flex;
    padding: 40;
    border-bottom: 1px solid rgb(117, 117, 117);
}

.last1 button{
    background-color: #131921;
    margin-left: 10;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    padding-left: 40;
    padding-right: 40;
    
}

.last1 select{
    margin-left: 20;
    padding-left: 20;
    padding-right: 20;
    background-color: #131921;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 3px;


}

.last1 img{
margin-left: 500;
}


.end{
    display: flex;
    justify-content: space-between;
    background-color: #131921;
    padding-left: 300;
    padding-right: 300;
    padding-top: 30;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.end b{
    color: white;
}

.end span{
    color: rgb(205, 204, 204);
    font-size: 10;
}

.end span:hover{
    border: none;
}

.credit{
    background-color: #131921;
    color: rgb(205, 204, 204);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    padding-bottom: 50;
}